include AUTHORS CHANGES LICENSE VERSION
include MANIFEST.in
include *.rst
include *.txt
recursive-include mapitio_*/templates *
recursive-include mapitio_*/static *
recursive-include label_templates *